<section class="contact">

  <!-- BOTÃO VOLTAR (ESQUERDA) -->
  <div class="back-wrapper">
    <button class="back-btn" (click)="irParaHome()">← VOLTAR</button>
  </div>

  <h1>CONTATO</h1>

  <div class="contact-container">

    <form class="contact-form" (ngSubmit)="enviar()">

      <input type="text"
        [(ngModel)]="name"
        name="name"
        placeholder="Seu nome"
        required />

      <input type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Seu email"
        required />

      <textarea rows="5"
        [(ngModel)]="message"
        name="message"
        placeholder="Sua mensagem"
        required></textarea>

      <button type="submit" class="send-btn">
        ENVIAR
      </button>

    </form>

  </div>

</section>