<section class="contact">

  <h1>CONTATO</h1>

  <div class="contact-container">

    <!-- FORMULÁRIO -->
    <form class="contact-form">

      <div class="input-group">
        <input type="text" placeholder="Seu nome" required />
      </div>

      <div class="input-group">
        <input type="email" placeholder="Seu email" required />
      </div>

      <div class="input-group">
        <textarea rows="5" placeholder="Sua mensagem" required></textarea>
      </div>

      <button type="submit" class="send-btn">
        ENVIAR
      </button>

    </form>

  </div>

</section>