/* =========================
   FUNDO GLOBAL (caso não esteja no styles.scss)
========================= */
:host {
  display: block;
  background: linear-gradient(180deg, #00010D, #020204, #0d0510);
  color: #fff;
  min-height: 100vh;
}

.sobre-container {
  min-height: 100vh;
  position: relative;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.menu-container {
  position: relative;
  z-index: 2;
}