<footer class="footer">
  <div class="footer-container">

    <!-- LOGO / NOME -->
    <div class="footer-logo">
      <h2>NicoAdventures</h2>
      <p>Transformando ideias em tecnologia</p>
    </div>

    <!-- LINKS -->
    <div class="footer-links">
      <a routerLink="/manutencao">Instagram</a>
      <a routerLink="/manutencao">GitHub</a>
    </div>

  </div>

  <!-- LINHA FINAL -->
  <div class="footer-bottom">
    <p>© 2026 NicoAdventures - Todos os direitos reservados</p>
  </div>
</footer>