body {
  margin: 0;
  padding-top: 80px;   /* espaço do header */
  padding-bottom: 60px; /* espaço do footer */
}

html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #00010D, #010326, #2D0140);
}